<!DOCTYPE html>
<html ng-app="<%= appName %>" class="no-js" lang="en" ng-controller="$<%= appSign %>AppController as app">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= appTitle %></title>
        <meta name="description" content="Boilerplate AngularJS App, Module based">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="assets/medias/favicon.ico"/>
        <!-- bower:css -->
        <!-- endbower -->
        <!-- injector:css -->
        <!-- endinjector -->
    </head>
    <body layout="column">
        <md-toolbar layout="row">
        <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visuallyhidden">Menu</span>
        </button>
        <h1><%= appTitle %></h1>
        </md-toolbar>
        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
            <h3>Menu</h3>
            </md-sidenav>
            <div layout="column" flex md-theme="green" id="content">
                <md-content layout="column" flex class="md-padding">
                <h2 class="title">Welcome to your marvelous App</h2>
                <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nisi, saepe non alias corporis deleniti odit ut dolores ipsam. Vel eveniet ut perspiciatis repellendus iusto recusandae mollitia explicabo accusamus nihil.</span>
                <span>Qui suscipit dolores, perspiciatis repellendus voluptate explicabo inventore veritatis natus dicta iste accusamus nostrum ratione, quis id quibusdam. Facilis mollitia nulla excepturi minus quo sed hic aperiam debitis, voluptas rem.</span>
                <span>Perspiciatis, quo, doloremque. At sint vitae commodi, saepe reprehenderit mollitia ipsa accusantium aspernatur ad labore neque cupiditate repudiandae sit sunt nisi facere totam explicabo. Consectetur, ducimus nesciunt! Facilis saepe, magni.</span>
                <span>Doloremque quibusdam, eligendi earum nisi deserunt dolorum inventore vel, nostrum itaque dolore omnis sit corrupti pariatur adipisci aperiam a, perspiciatis modi! Explicabo repellat maxime minima, non beatae tempora harum molestiae.</span>
                <span>Dolor aspernatur eius impedit illo nam, dicta soluta? A laboriosam id, quibusdam aut ducimus aperiam, eius, ipsum, eos numquam voluptates earum quasi ut! Ab reprehenderit, esse, maiores dolore soluta similique.</span>
                </p>
                </md-content>
            </div>
        </div>
        <!-- bower:js -->
        <!-- endbower -->
        <!-- injector:js -->
        <!-- endinjector -->
    </body>
</html>